################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/YoursToDo/obj
/YoursToDo/bin/Debug/net7.0-windows
/.vs
/YoursToDo.Common/obj
/YoursToDo.Common/bin/Debug
/YoursToDo.WinUI/bin/x64/Debug/net6.0-windows10.0.19041.0/win10-x64
/YoursToDo.WinUI/obj
/YoursToDo.WinUI/bin/x64/Debug/net6.0-windows10.0.19041.0
/YoursToDo/bin/Debug
/YoursToDo/Properties/PublishProfiles
/YoursToDo/YoursToDo.csproj.user
/YoursToDo.Common/bin/Release/net6.0
/YoursToDo.WinUI/bin
/YoursToDo.WinUI/BundleArtifacts
/YoursToDo.WinUI/Properties/PublishProfiles
/YoursToDo.WinUI/YoursToDo.WinUI.csproj.user
/YoursToDo/bin/Release/net7.0-windows
/YoursToDo.Common/bin/Release/net7.0
/YoursToDo.EFCore/obj
/YoursToDo.EFCore/bin/Release/net6.0
/YoursToDo.EFCore/bin/Release/net7.0
